body,
.book_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.table {
  margin-bottom: 30px;
  width: 60vw;
  border: 1px solid #aea195;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}

td {
  height: 40px;
}

tr td:nth-child(3) {
  text-align: right;
  padding-right: 10px;
}

.table_head > tr {
  background-color: #aea195;
  font-weight: bold;
  text-align: center;
}

.book_form input {
  width: 40vw;
  height: 30px;
  border: 1px solid black;
  margin: -10px 0;
}

#add {
  margin: 10px 0 0 560px;
  width: 50px;
  height: 40px;
}
